<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="/"         <% if(pageNum == 1){ %>class="active" <% } %> >Home</a></li>
            <li><a href="/projects" <% if(pageNum == 2){ %>class="active" <% } %> >Projects</a></li>
            <li><a href="/"         <% if(pageNum == 3){ %>class="active" <% } %> >Home</a></li>
            <li><a href="/"         <% if(pageNum == 4){ %>class="active" <% } %> >Home</a></li>
            <li><a href="/"         <% if(pageNum == 5){ %>class="active" <% } %> >Home</a></li>
        </ul>
    </nav>
<main>
